div.scroll {
  width: 100%;
  height: 400px;
  overflow: scroll;
  word-wrap: break-word;
}

.chat-box-name {
  font-weight: bold;
}

.chat-box-time {
  font-weight: lighter;
  font-style: italic;
  color: #9E9E9E;
}
