#login-inputs-section {
  display: flex;
  flex-direction: column;
}

.login-inputs-btn {
  margin-bottom: 16px;
}

.login-inputs-card-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#account-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
